:root {
  --white: #fff;
  --orange-light: #fe9103;
  --orange-dark: #f27020;
  --orange-darker: #f04d02;
  --blue-dark: #159bd7;
  --blue-darker: #024e8a;
  --blue-semi-dark: #a1d1e8;
  --blue-light: #a4d3e9;
  --blue-whiteish: #d0e7f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

:root {
  --orange-light: #fe9103;
  --orange-dark: #f27020;
}

.announcement-bar {
  background: linear-gradient(to right, var(--orange-light), var(--orange-dark));
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  width: 100dvw;
  text-transform: capitalize;
}

.carpe-header {
  padding: 12px;
}

main {
  width: 100dvw;
  height: 100%;
  background: linear-gradient(
    146deg,
    var(--blue-semi-dark) 0%,
    var(--blue-light) 18%,
    var(--blue-whiteish) 38%,
    var(--white) 90%
  );
  padding: 0 20px 20px;
  align-items: center;
}
/* progress bar start*/
.progress-section {
  display: grid;
  align-items: center;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 5px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin: 40px auto;
  grid-row: 1;
  grid-column: 1;
}

.progress-bar {
  height: 100%;
  background-color: var(--orange-darker);
  width: 0%;
  transition: width 0.3s ease;
  width: 100%;
}

.progress-bar__circles {
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 1;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--orange-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--orange-dark);
  font-weight: bold;
  align-self: center;
}

.circle.done {
  width: 20px;
  height: 20px;
  align-self: center;
  background: var(--orange-darker);
}

.circle.final {
  width: 40px;
  height: 40px;
  border: 2px solid var(--blue-darker);
  background: var(--blue-darker);
  color: var(--white);
  border-radius: 0;
}

.circle.current-step.final {
  background: var(--blue-darker);
}

.circle.current-step {
  background: var(--orange-darker);
  color: var(--white);
}
/* progress bar end*/
.step-section {
  flex: 1;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.step-content {
  min-height: 150px;
  text-align: center;
  flex-grow: 1;
}

h1 {
  font-size: clamp(22px, 5vw, 32px);
  margin: 0;
}

.subtitle {
  margin-block: 10px;
}

.titles.step-3 {
  flex-direction: column-reverse;
}

p,
h4 {
  margin-block: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.options-wrapper {
  max-width: 350px;
  margin: 0 auto;
}

.options-wrapper.step-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.options-wrapper.step-1 .option-label {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 106px;
}

.options-wrapper:is(.step-2, .step-3, .step-4, .step-5, .step-6) .option-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.options-wrapper:is(.step-2, .step-3, .step-4, .step-5, .step-6) .option-label img {
  width: 30px;
}

.options-wrapper.step-1 .option-text{
  display: none;
}

.options-wrapper.step-1 .custom-circle {
  display: none;
}

.options-wrapper:not(.step-1) {
  text-align: left;
}

.options-wrapper[class*="step-"]:not(.step-1):not(.step-3):not(.step-7) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.options-wrapper:is(.step-3, .step-7) {
  height: 90%;
}

.options-wrapper.step-3 .info-step {
  display: grid;
  grid-auto-rows: 50% 50%;
  height: 100%;
  align-items: center;
}

.options-wrapper.step-7 .info-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.option-label {
  background: var(--white);
  padding: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.option-label.active {
  border: 2px solid var(--orange-dark);
}

.options-wrapper.step-1 input[type="radio"] {
  appearance: none;
}

label {
  cursor: pointer;
}

.option-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.option-text {
  display: inline-block;
  text-transform: capitalize;
}

.step-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#nextBtn {
  background: var(--blue-dark);
  flex-basis: 75%;
  font-weight: 800;
  letter-spacing: 1px;
}

#backBtn {
  background: var(--blue-darker);
}

#backBtn.step-1,
#backBtn.step-7 {
  display: none;
}

#nextBtn:disabled,
#backBtn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

em {
  font-size: 8px;
}

.info-step {
  text-align: center;
}

.step-7 .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px
}

.step-7 .subtitle {
  margin-block: 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px
}

/* custom radio check*/
.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-align: left;
  gap: 12px;
}

.custom-radio {
  display: none;
}

/* circle styling */
.custom-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
}

.custom-circle::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: var(--orange-dark);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.custom-radio:checked + .custom-circle {
  border-color: var(--orange-dark);
}

.custom-radio:checked + .custom-circle::after {
  opacity: 1;
  transform: scale(1);
}

/* ======= */
@media screen and (min-width: 500px) {
  .progress-section {
    width: 80%;
    max-width: 400px;
  }
}

